# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.*_m   text
*.alg   text    linguist-language=Algol-60
*.bas   text    linguist-language=BASIC
*.bat   text
*.card  text
*.cmd   text
*.cob   text    linguist-language=COBOL-60
*.css   text
*.dat   text
*.for   text    linguist-language=FORTRAN-66
*.gtl   text    linguist-language=GeorgiaTechLanguage
*.html  text
*.js    text
*.lst   text
*.mca   text    linguist-language=MCALGOL
*.md    text
*.pt    text
*.sno   text    linguist-language=SNOBOL
*.svg   text
*.tape  text
*.txt   text
*.vbs   text    linguist-language=VBScript
*.wipl  text
*.wsf   text    linguist-language=WindowsScriptHost
*.xal   text    linguist-language=XALGOL

.gitignore
.gitattributes

# Denote all files that are truly binary and should not be modified.
*.bcd   binary
*.cod   binary
*.disk  binary
*.doc   binary
*.docx  binary
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.pdf   binary
*.png   binary
*.ppt   binary
*.tap   binary
*.ttf   binary
*.woff  binary
*.xls   binary
*.xlsx  binary
*.zip   binary
*.7z    binary
